global
        log {{ Log }}    local0
        log {{ Log }}    local1 notice
        stats socket {{ Stats_socket }}  mode 660 level admin expose-fd listeners
        stats timeout {{ Stats_timeout }}s
        user {{ USER }}
        group {{ GROUP }}
        daemon

        # Default SSL material locations
        ca-base {{ Ca_Base }}
        crt-base {{ Crt_Base }}
 
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3


defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

 
 frontend {{ FRONTEND_NAME }}
 bind *:{{ FRONTEND_PORT }}
 timeout client {{ TIMEOUT_CLIENT_SEC }}s
 mode {{ MODE }}
 default_backend {{ BACKEND_NAME }}

 backend {{ BACKEND_NAME }}
 timeout connect {{ BKND_TIMEOUT_CONNECT_SEC }}s
 timeout server {{ BKND_TIMEOUT_SERVER_SEC }}s
 mode {{ MODE }}

{% for x in ServerDetails %}
server {{ x.BACKEND_SERVER }} {{ x.BACKEND_SERVER_IP }}:80

{% endfor %}

















